page{
    width: 100%;
    height: 100%;
}
.order{
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    .order-tabs{
        display: flex;
        justify-content: space-around;
        background: #fff;
        height: 82rpx;
        .tabItem{
            line-height: 42px;
            color: #666666;
            font-size: 22rpx;
            display: block;
            width: 100%;
            text-align: center;
            &.cur{
                font-weight: bold;
                color: #000;
                border-bottom: 8rpx solid #f12b48;
            }
        }
        
    }
    .order-content{
        padding: 20rpx;
        .orderItem{
            margin: 0 0 20rpx;
            background: #fff;
            padding-left: 22rpx;
            .order-top{
                padding: 20rpx 0;
                display: flex;
                justify-content: flex-start;
                border-bottom: 2rpx solid #f1eeee;
                .goods-img{
                    width: 188rpx;
                    height: 188rpx;
                }
                .goods-info{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    margin-left: 15rpx;
                    .goods-info-top{
                        display: flex;
                        justify-content: space-between;
                        .title{
                            color: #505050;
                            font-size: 24rpx;
                            flex: 1;
                        }
                        .state{
                            color: #f12b5f;
                            font-size: 26rpx;
                            line-height: 44rpx;
                            text-align: right;
                            margin-right: 10rpx;
                            width: 150rpx;
                        }
                    }    
                    .category{
                        display: flex;
                        justify-content: space-between; 
                        margin-top: 10rpx;                      
                        .sort{
                            color: #808080;
                            font-size: 22rpx;
                        }
                        .num{
                            color: #505050;
                            font-size: 24rpx;
                            margin-right: 30rpx;
                            text-align: right;
                        }
                    }
                    .price{
                        color: #000;
                        font-size: 26rpx;
                        line-height: 42rpx;
                        margin-top: 20rpx;
                    }
                }
            }
            .order-bottom{
                text-align: right;
                padding: 20rpx;
                .btn{
                    font-size: 24rpx;
                    color: #fff;
                    background: #f12b5f;
                    height: 55rpx;
                    line-height: 55rpx;
                }
            }
        }
        .nothing{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .nothing-icon{
                width: 279rpx;
                height: 239rpx;
            }
            .text-tips{
                color: #888686;
                font-size: 28rpx;
                margin-top: 30rpx;
            }
        }
    }
}