

.index{
	width: 750rpx;
	min-height: 100vh;
	&_topbar{
		width: 100%;
		height: auto;
		image{
			width: 100%;
			height: auto;
		}
	}
	&_bar{
		position: absolute;
	}
	&_goods {
		background-color: #fff;
		// width: 750rpx;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 0 20rpx;
	}
}